{% extends 'base_auth.html' %}
{% load static %}

<div>
    <h4>
        {{ message }}
    </h4>
</div>
{% block content %}
    <!-- <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
    <p>Pas encore membre ? <a href="{% url 'register' %}">Inscrivez-vous maintenant !</a></p> -->




 <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">CONNECTION</h1>


      <form method="post" class="main-form mb-10">
        {% csrf_token %}
        <div class="row mt-5 ">
          
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="text" class="form-control" name="username" placeholder="Numéro..">
          </div>
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="password" class="form-control" name="number" placeholder="Numéro..">
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 btn-block wow zoomIn">Se connecter</button>

      </form>
      <p class="text-center mt-5">Pas encore membre ? <a href="{% url 'register' %}">Inscrivez-vous maintenant !</a></p>
    </div>
</div>


{% endblock content %}


